Created by Ed on 27/02/2016.
doctype html
extends _bootstrap.jade
append styles
    link(href="/stylesheets/cover.css", rel="stylesheet")

block body
    .site-wrapper
        .site-wrapper-inner
            .cover-container
                .masthead.clearfix
                    .inner
                        h3.masthead-brand CitadelOS.
                        nav
                            ul.nav.masthead-nav
                                li
                                    a(href="/") Home
                                li.active
                                    a(href="#") About
                                li
                                    a(href="/help") Help
                                li
                                    a#login(href="/control-panel") Account
                .inner.cover
                    h1.cover-heading CitadelOS.
                    p.lead Welcome to the 'future' of major infrastructure.
                    p.lead
                        p A high security Operating System for your city.
                        p Banking, Communications, News and Defense - All integrated into a single, <i>synergised</i> and <i>dynamic</i> platform.
                        p Intensively tested and highly "secure".
                        b A next-generation OS for a next-generation world.

                .mastfoot
                    .inner
                        p Team 6IX - <a href="https://twitter.com/EdBruceIO">@EdBruceIO</a>.
    script(src='/javascripts/homepage.js')
