//
   Created by Tom on 28/02/2016.
head


    style
         p{color:pink;}
body(background='/images/hoff.jpg')
    audio
        source(src="/hacker.wav" type="audio/wav" autoplay='true')
    video(src='/images/admin.webm', controls='', autoplay='true')

    p #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED
    p #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED
    p #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED
    p #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED
    p #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED
    p #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED
    p #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED
    p #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED
    p #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED
    p #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED
    p #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED
    p #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED
    p #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED
    p #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED
    p #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED
    p #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED
    p #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED
    p #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED #HOFFED
